# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
*.env
.env
*.tar.gz
*.dump
*.png

# Database
*.db
*.sqlite
instance/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cookies
cookies*.txt

# Backup
*.backup
.env.*
!.env.example

# Node / Frontend
node_modules/
